/*Created with Adobe RoboHelp.*/
/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap");
/* HTML */
body {
  font-weight: 400;
  font-style: normal;
  line-height: 24px;
  color: #333333;
  background-color: #ffffff;
  font-family: 'Montserrat' ;
  font-size: 14px;
}
h1 {
  font-weight: 300;
  font-size: 32px;
}
h2 {
  font-weight: normal;
  font-size: 24px;
}
h3 {
  font-weight: lighter;
  font-size: 19px;
}
h4 {
  font-weight: bold;
  font-size: 16px;
}
h5 {
  font-weight: bold;
  font-size: 13px;
}
h6 {
  font-weight: bold;
  font-size: 11px;
}
p {
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 10pt;
}
p.overview-center {
  text-align: center;
}
p.emphasis1 {
  color: rgb(0, 84, 159);
  font-size: 10pt;
  font-weight: normal;
  margin-top: 6pt;
  margin-bottom: 10pt;
  padding: 6pt;
  border: solid 2px rgb(140, 180, 225);
  background-color: rgb(239, 242, 249);
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  vertical-align: middle;
  background-position: center center;
  text-indent: 8px;
  text-align: center;
}
p.emphasis1-left {
  color: rgb(0, 84, 159);
  font-size: 10pt;
  font-weight: normal;
  margin-top: 6pt;
  margin-bottom: 10pt;
  padding: 6pt;
  border: solid 2px rgb(140, 180, 225);
  background-color: rgb(239, 242, 249);
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  vertical-align: middle;
  background-position: center center;
  text-indent: 8px;
  text-align: left;
}
a.expandspot {
  color: #008000;
  cursor: pointer;
  font-style: italic;
  text-decoration: none;
}
span.expandtext {
  font-style: italic;
  font-weight: normal;
  color: #ff0000;
}
a.dropspot {
  cursor: pointer;
  color: #008000;
  font-style: italic;
  text-decoration: none;
}
a.glossterm {
  color: #800000;
  cursor: pointer;
  font-style: italic;
  text-decoration: none;
}
span.glosstext {
  font-style: italic;
  font-weight: normal;
  color: #0000ff;
}
a.twisty {}
a.twisty::before {
  vertical-align: middle;
  margin-right: 0.25rem;
  content: url('../images/arrowright.gif');
}
a.twisty.pressed::before {
  vertical-align: middle;
  margin-right: 0.25rem;
  content: url('../images/arrowdown.gif');
}
/*CompassTravel*/
a.dropspot-twisty::before {
  vertical-align: middle;
  margin-right: 0.25rem;
  content: url('../images/right-arrow.svg');
}
a.dropspot-twisty.pressed::before {
  vertical-align: middle;
  margin-right: 0.25rem;
  content: url('../images/down-arrow.svg');
}
ol {
  margin-top: 0px;
  margin-bottom: 0px;
}
ol.step {
  margin-top: 0px;
  margin-bottom: 0px;
  --prefix-size: 70.5px;
  --prefix-fixed-size: true;
  --prefix-gap: 4px;
  --list-indent: ;
  --vertical-spacing: 0px;
  counter-reset: item1;
  list-style-type: none;
  padding-left: var(--prefix-size);
  margin-left: calc(var(--list-indent) - var(--prefix-size));
}
ul {
  margin-top: 0px;
  margin-bottom: 0px;
}
a.minitoc-caption {
  text-decoration: none;
  color: initial;
  font-weight: bold;
}
p.minitoc-caption {
  font-weight: bold;
  font-size: 16px;
}
ol.minitoc-list {
  padding-left: 0;
  margin-left: 0;
  list-style: none;
}
ol.minitoc-list ol {
  list-style: none;
}
a {}
a.minitoc-list-item {}
div.breadcrumbs {}
span.breadcrumbs-home-prefix {}
a.breadcrumbs-home {}
.breadcrumbs-separator {}
a.breadcrumbs-link {}
a.breadcrumbs-topic {}
p.seealso-caption {
  font-weight: bold;
  font-size: 16px;
}
ol.seealso-list {
  padding-left: 0;
  margin-left: 0;
  list-style: none;
}
a.seealso-list-item {}
p.reltopics-caption {
  font-weight: bold;
  font-size: 16px;
}
ol.reltopics-list {
  padding-left: 0;
  margin-left: 0;
  list-style: none;
}
a.reltopics-list-item {}
ul.Disc {
  list-style-type: disc;
}
ul.Circle {
  list-style-type: circle;
}
figure {
  margin-left: 0 px;
}
:root {
  --hdrevenrows-theme-color: #ed7d31;
  --hdrevenrows-row-color: rgba(237, 125, 49, 0.25);
  --hdrevenrows-brdr-color: rgba(237, 125, 49, 0.5);
  --noborder-theme-color: #ed7d31;
  --evenrows-theme-color: #bfbfbf;
  --evenrows-row-color: rgba(191, 191, 191, 0.5);
  --thickhdrevenrows-theme-color: #666666;
  --thickhdrevenrows-row-color: rgba(102, 102, 102, 0.5);
  --thickhdr-theme-color: rgba(244, 176, 131, 1);
  --thickhdr-brdr-color: rgba(244, 176, 131, 0.5);
  --borderonly-theme-color: #bfbfbf;
}
table.hdrevenrows {
  border-collapse: collapse;
}
table.hdrevenrows td {
  border-width: 1px;
  border-style: solid;
  border-color: var(--hdrevenrows-brdr-color);
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 4px;
  padding-right: 4px;
}
table.hdrevenrows tr:first-child td {
  background-color: var(--hdrevenrows-theme-color);
  color: #FFFFFF;
}
table.hdrevenrows tr:nth-child(even) td {
  background-color: var(--hdrevenrows-row-color);
}
table.noborder {
  border-collapse: collapse;
}
table.noborder td {
  border-width: 2px;
  border-style: solid;
  border-color: var(--noborder-theme-color);
  border-left: 0;
  border-top: 0;
  padding-top: 2px;
  padding-right: 4px;
  padding-bottom: 2px;
  padding-left: 4px;
  vertical-align: center;
}
table.noborder tr:first-child td {
  border-width: 2px;
  border-style: solid;
  border-color: #FFFFFF;
  border-top: 0;
  border-left: 0;
  background-color: var(--noborder-theme-color);
  color: #FFFFFF;
  border-bottom: 0;
}
table.noborder tr:last-child td {
  border-width: 2px;
  border-style: solid;
  border-color: var(--noborder-theme-color);
  border-left: 0;
  border-bottom: 0;
}
table.noborder tr td:last-child {
  border-right: 0;
}
table.evenrows {
  border-collapse: collapse;
}
table.evenrows td {
  padding-top: 2px;
  padding-right: 4px;
  padding-bottom: 2px;
  padding-left: 4px;
  border-width: 1px;
  border-style: solid;
  border-color: var(--evenrows-theme-color);
}
table.evenrows tr:nth-child(even) td {
  background-color: var(--evenrows-row-color);
}
table.thickhdrevenrows {
  border-collapse: collapse;
}
table.thickhdrevenrows tr:first-child {
  border-width: 3px;
  border-style: solid;
  border-color: var(--thickhdrevenrows-theme-color);
  border-left: 0;
  border-top: 0;
  border-right: 0;
}
table.thickhdrevenrows td {
  border-width: 1px;
  border-style: solid;
  border-color: var(--thickhdrevenrows-theme-color);
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 4px;
  padding-right: 4px;
}
table.thickhdrevenrows tr:nth-child(even) td {
  background-color: var(--thickhdrevenrows-row-color);
}
table.thickhdrevenrows tr:first-child td {
  text-align: center;
}
table.thickhdr {
  border-collapse: collapse;
}
table.thickhdr td {
  border-width: 1px;
  border-style: solid;
  border-color: var(--thickhdr-brdr-color);
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 4px;
  padding-right: 4px;
}
table.thickhdr tr:first-child {
  border-width: 3px;
  border-style: solid;
  border-color: var(--thickhdr-theme-color);
  border-left: 0;
  border-top: 0;
  border-right: 0;
}
table.borderonly {
  border-collapse: collapse;
}
table.borderonly td {
  padding-top: 2px;
  padding-right: 4px;
  padding-bottom: 2px;
  padding-left: 4px;
  border-width: 1px;
  border-style: solid;
  border-color: var(--borderonly-theme-color);
}
ol.Decimal {
  list-style: decimal;
}
ul>li {
  font-size: 10pt;
}
ol>li {
  font-size: 10pt;
}
ol.step>li {
  font-size: 10pt;
  --prefix-size: 70.5px;
  --prefix-fixed-size: true;
  --prefix-gap: 4px;
  --list-indent: ;
  --vertical-spacing: 0px;
  margin-top: calc(var(--vertical-spacing) / 2);
  margin-bottom: calc(var(--vertical-spacing) / 2);
  position: relative;
}
ol.RoundSquare {
  list-style: disc;
}
ol.RoundSquare>li>ol {
  list-style: square;
}
ol.RoundSquare>li>ol>li>ol {
  list-style: circle;
}
ol.RoundSquare>li>ol>li>ol>li>ol {
  list-style: disc;
}
ol.RoundSquare>li>ol>li>ol>li>ol>li>ol {
  list-style: square;
}
ol.RoundSquare>li>ol>li>ol>li>ol>li>ol>li>ol {
  list-style: circle;
}
ol.step>li:before {
  counter-increment: item1;
  content: "     Step " counter(item1, decimal)".";
  text-align: right;
  position: absolute;
  left: calc(-1 * var(--prefix-size) - var(--prefix-gap));
  margin-right: var(--prefix-gap);
  width: var(--prefix-size);
  overflow: hidden;
  font-weight: bold;
  color: #21397D;
}